<style>
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 3%;
    }
    label {
        margin-bottom: 10px;
    }
    input {
        margin-bottom: 20px;
    }
    button {
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        border-radius: 5px;
    }
</style>

<form method="post">
    <label for="insertSecretCode">Insert Secret Code</label>
    <input type="text" name="insertSecretCode">

    <button>Submit</button>

    <br><br>
    <em>(The password is "master chief")</em>
</form>



